
<div class="banner">
  <h1>Stupid Coaching</h1>
</div>

<div class="container">
  <p>Ask a question</p>
  <form action="/answer" method="get">
    <input type="text" name="question" placeholder="-You">
    <input type="submit" value="Ask!">
  </form>
</div>


